attrs>=24.2.0
loguru>=0.7.2
mss>=9.0.1
numpy>=2.0.1
opencv-python-headless>=4.10.0.84
pydirectinput_rgx>=2.1.1
tesserocr @ https://github.com/simonflueckiger/tesserocr-windows_build/releases/download/tesserocr-v2.7.0-tesseract-5.3.4/tesserocr-2.7.0-cp312-cp312-win_amd64.whl
